<header class="flex items-center px-4 py-3 border-b">
  <%= live_redirect "< Back", to: Routes.post_index_path(@socket, :index) %>
  <p class="ml-6 text-lg font-extrabold">Compose Watweet</p>
</header>

<%= live_component @socket, WatwitterWeb.PostLive.FormComponent,
  id: :new,
  post: @post,
  return_to: Routes.post_index_path(@socket, :index) %>
