<header class="header">
  <%= live_redirect to: Routes.post_index_path(@socket, :index)  do %>
    <%= WatwitterWeb.SVGHelpers.back_svg() %>
  <% end %>
  <p class="header-title">Watweet</p>
</header>

<div class="body">
  <%= live_component @socket, WatwitterWeb.PostLive.PostComponent, id: @post.id, post: @post %>
</div>
